
/* src/assets/styles/Home.module.css */

.container {
    background-image: url('../images/appBackground.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    gap: 20px; /* Add space between buttons */
    margin-bottom: 30px; /* Space below the header buttons */
    width: 100%;
    padding: 10px 0;
}

.centerContent {
    position: relative;
    bottom: -40px;
    color: rgb(2, 3, 15);
    font-size: 3rem; /* Adjusted for elegance */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(28, 9, 104, 0.5);
    text-align: center;
    margin-bottom: 40px; /* Space between "Our Services" and the cards */
}

.categoryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 90%; /* Limit the width of the container */
}

.animatedLetter {
    opacity: 0; /* Start invisible */
    display: inline-block;
    animation: fadeIn 0.5s forwards; /* Animation to fade in */
}

/* Define the fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px); /* Optional: Add a slide effect */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Return to original position */
    }
}