.container {
    background-image: url('../images/appBackground.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow-y: hidden; 
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centers the grid vertically */
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px; /* space between cards */
    max-width: 1000px; /* Optional: control the grid's maximum width */
}
.scrollableGrid {
    flex: 1; /* Takes up the remaining space below the header */
    width: 100%;
    overflow-y: auto; /* Allows scrolling only within the grid */

    margin-top: 150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    justify-items: center; /* Centers each card within its grid cell */
    align-items: start; /* Aligns items at the top of the grid */
}
